html {
	--primary: #0d2222;
  --secondary: #054f3f;
  --thirdly: #043b2f;
	--accent-1: #9f8083;
	--accent-2: #66232e;
	--accent-3: #44131a;
	color: white;
	background: var(--secondary);
}

.div-meow {
	display: flex;
  flex-direction: column;
  justify-content: space-between;
	align-items: center;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes counter-spin {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(-360deg)
    }
}

.spin-parent {
  position: relative;
  margin: auto;
  max-width: 21.5rem;
  min-height: 21.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spin-center {
  position: absolute;
  z-index: 2;
}

.spin-items-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spin 40s linear infinite;
}

.spin-item {
  position: absolute;
  left: 50%;
  height: 50%;
  transform-origin: center bottom;
  transform: translate(-50%) rotate(calc((360deg / var(--amount-of-element, 1)) * var(--nth-element, 1)));
}

.spin-item > div {
  --base-rotation: calc((360deg / var(--amount-of-element, 1)) * var(--nth-element, 1));
  transform: rotate(0);
  animation: counter-spin 40s linear infinite;
}

.spin-item-inner {
	a {
		display: inline-block;
		transform: rotate(0deg);
	}
}
